streamlit==1.29.0  # Reemplaza X.X.X con la versión específica de Streamlit que necesitas
random2==1.0.1  # Versión específica de la librería random2
matplotlib==3.4.3  # Versión específica de Matplotlib
pyvis==0.3.2  # Versión específica de Pyvis
PyMuPDF==1.23.8  # Versión específica de PyMuPDF
requests==2.31.0  # Versión estándar de Requests
